
<!--include header-->
<%- include('include/_header')%>
<!--/include header-->

<!--Main site-->
<main id="site-main1">
    <div class="container"><br>
        <div >
            
            <a href="/" class="au">
                <span class="text-gradient">Users <i class="fas fa-users"></i></span>
            </a>
            
            
        </div>   
            
        

        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-medium">Use the below form to create a new account</span>
        </div>
        <%- include('include/_form')%>
        
    </div>
</main>

<!--/Main site-->

<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->